---t_Type_balanceoperation ---
{% trans "Pay Tranzila" %}
{% trans "Ticket problem" %}
{% trans "Pay Out" %}
{% trans "Win" %}
{% trans "Add Money" %}
{% trans "Cut money" %}
{% trans "Cash Add" %}
{% trans "Pay from balans" %}
{% trans "Pay from card" %}
{% trans "Credit Card" %}
{% trans "Bit" %}
{% trans "ApplePay" %}
{% trans "Subscription" %}
---t_Type_balanceoperation_status---
{% trans "wait" %}
{% trans "block" %}
{% trans "Reject" %}
{% trans "Succes" %}
---t_Type_payment---
{% trans "balance" %}
{% trans "Subscription" %}
{% trans "Credit Card" %}
{% trans "Apple Pay" %}
{% trans "ביט" %}
{% trans "Debit Card" %}
{% trans "Credit Card with ID" %}
{% trans "Paypal" %}
{% trans "Credit Card with TOKEN" %}
{% trans "Bitcoin" %}
{% trans "Pay Box" %}
{% trans "Litecoin" %}
{% trans "From Bank" %}
{% trans "your payment will be update to balance until 48 hours" %}
{% trans "Cash" %}
{% trans "payment by cash will be update balance after recevie money" %}
---t_Type_currency---
{% trans "USD" %}
{% trans "Dollar" %}
{% trans "ILS" %}
{% trans "Israeli shekel" %}
---t_Type_program---
---t_SiteLang---
{% trans "Hebrew" %}
{% trans "he" %}
{% trans "Arabic" %}
{% trans "ar" %}
{% trans "English" %}
{% trans "en" %}
{% trans "Russian" %}
{% trans "ru" %}
{% trans "Ukrainian" %}
{% trans "ua" %}
---t_Ticket_type---
{% trans "As King" %}
{% trans "Borsa" %}
{% trans "The first prize in this game is 1: 1,000,000<br>The second prize in this game are 1: 6,666<br>Any prizes in this game are 1: 4.04" %}
{% trans "Scratch the covering from the 4 rows of 'stock types'. Each line where the 'sale price' is higher than the 'purchase price' qualifies for a 'prize' - a cash prize or free ticket - as detailed below:<br>If the 'option' is indicated in the 'prize' column, you won 10 shekels. <strong>Each card can be won up to four times</strong>." %}
{% trans "As=prass" %}
{% trans "The first prize in this game is 1: 500,000<br>The second prize in this game is 1: 333,333.33<br>Any prizes in this game are 1: 3.16" %}
{% trans "Scrape the coating over each of the 20 'inverted card' illustrations on the card (each such illustration is a game in itself).<br>If after the scratch it is discovered, in one of the 'inverted cards' you scratched, the 'Ace card' symbol - you have won the prize listed in that game.<br><strong>You can win up to 20 times in one ticket</strong>" %}
{% trans "Mega money" %}
{% trans "The first prize in this game are 1: 250,000<br>The second prize in this game are 1: 100,000<br>Any prizes in this game are 1: 3.12" %}
{% trans "Scratch the 5 illustrations of the safes in the 'lucky numbers' group and reveal the number printed under each one.<br>Scratch the 20 sack illustrations in the 'Your Numbers' group and reveal the number and 'prize box' printed below each.<br>Each number in the 'your numbers' group that is identical to one of the 'lucky numbers' earns the amount specified in the 'prize box' of that number.<br><strong>You can win up to 20 times in one ticket</strong>." %}
{% trans "Basketball" %}
{% trans "The first prize in this game is 1: 1,000,000<br>The second prize in this game is 1: 20,000<br>Any prizes in this game are 1: 3.68" %}
{% trans "If in any game your team score is higher than the score of the opposing team, you have won the prize listed in the prize line." %}
{% trans "BlackjacK 21" %}
{% trans "The first prize in this game is 1: 1,000,000<br>The second prize in this game is 1: 200,000<br>Any prizes in this game are 1: 4.19" %}
{% trans "Each card has 5 games.<br>Reveal your house cards and your cards. Compare each pair of cards to a pair of house cards.<br>The sum of your two cards exceeds the sum of the two house cards? You won the prize printed under that game.<br><br>The cards are marked with one of the following values:<br>Cards 2 to 10 value in points as the number of the card.<br>Prince value in points = 10<br>Queen set in points = 10<br>King value in points = 10<br>Ace value in points = 11" %}
{% trans "Queen of Hearts" %}
{% trans "The first prize in this game are 1:500,000<br>The second prize in this game are 1:333,333.33<br>Any prizes in this game are 1:3.78" %}
{% trans "Each card has 20 illustrations of a queen. Each illustration of a queen is a game.<br>Scrape the coating from each of the 20 illustrations. If one or more cards 'Q' are discovered in the game after the scratch, you have won the 'prize' listed in that game.<br><strong>You can win up to 20 times in one ticket!</strong>" %}
{% trans "Casino" %}
{% trans "The first prize in this game is 1: 1,000,000<br>The second prize in this game are 1: 33,333.33<br>Any prizes in this game are 1: 3.46" %}
{% trans "Scrape the coating over the 'roulette wheel' and reveal the 'winning number' marked by the 'ball' next to it.<br>Scrape the coating over the number and prize board, chip by chip and reveal the number listed below.<br>If the number listed at the top of any chip is the same as the 'winner number' of the 'roulette wheel', you have won the prize listed in that chip below the 'winner number'.<br><strong>You can win up to 5 times in one ticket!</strong>" %}
---t_Devices_list---
---t_Documentation_list---
---t_List_external_company---
{% trans "Super Big Boss" %}
{% trans "TV System" %}
{% trans "Ext_Registration" %}
---t_List_jellyfish---
{% trans "jellyfish_test_console" %}
{% trans "jellyfish_prod" %}
---t_Report_list---
{% trans "Subscriptions full report" %}
{% trans "Money (Payment-Ticket)" %}
{% trans "Check payment system" %}
{% trans "Pay Out" %}
{% trans "Total ticket" %}
{% trans "Daily report" %}
{% trans "Players" %}
{% trans "Compare Days" %}
{% trans "Analysis by days" %}
{% trans "Payment-Ticket ALL" %}
{% trans "User segmentation" %}
{% trans "Activity cycles - graphs" %}
{% trans "Analysis by hours" %}
{% trans "Ukraine Center - Data" %}
{% trans "Matching between payments - Tranzilla" %}
{% trans "User money spent (all)" %}
{% trans "Subscriptions debit credit" %}
{% trans "All Users" %}
{% trans "User not play" %}
{% trans "Users with non-zero balance" %}
{% trans "Comparing new/old players" %}
{% trans "Users most frequently played tickets" %}
{% trans "Subscriptions sms status report" %}
{% trans "Not confirmed users" %}
{% trans "User money spent (gold)" %}
{% trans "User money spent (silver)" %}
{% trans "User money spent (bronze)" %}
{% trans "Users joined per day" %}
{% trans "Users with subscriptions profit" %}
{% trans "Bloggers report" %}
{% trans "Expired and soon expired subscriptions" %}
{% trans "Compare last month" %}
{% trans "Expired subscriptions (not bought new)" %}
{% trans "Average activity by month" %}
{% trans "Compare users activity" %}
{% trans "User play more 5" %}
---t_SiteSkin---
{% trans "001" %}
---t_Faqtabl---
{% trans "Can I collect the ticket I purchased?" %}
{% trans "Certainly. Please contact our customer service and you can collect the card after prior arrangement with the company offices. Please note - you must contact us near the moment of winning otherwise the ticket will be transferred to the lottery.  By what means of payment can scratch cards be purchased You can pay by several means: -	Credit Card - bit -	Bank transfer" %}
{% trans "How do I know that the card belongs only to me?" %}
{% trans "Each ticket according to the rules of the Lottery has a serial number. The serial number appears before and after the scratch and, as mentioned, the specific card can be collected from the company's offices." %}
{% trans "Is it possible to pay by bank transfer?" %}
{% trans "Certainly.<br>After the transfer has been made by the customer, this photo must be uploaded in the correct place in the button called 'Bank Transfer'. After receiving the payment in our account the customer will be credited with the transfer amount." %}
{% trans "Where do I see the money I won?" %}
{% trans "After winning your balance will be updated in 'My Account' And you can buy tickets or withdraw the winnings." %}
{% trans "How do I get my winnings?" %}
{% trans "There is a button called 'Withdraw'. Click on the profile and scroll down, fill in the bank details and the transfer will be made within 3 business days." %}
{% trans "Do you belong to the Lottery?" %}
{% trans "The scratch cards are indeed Mifal HaPais cards, but we are a private company that uses a franchise to use innovative and unique technology that knows how to make Mifal HaPais' greeting cards accessible digitally." %}
{% trans "I waited 2 minutes and still did not get the scratch card for laptop / computer What do I do?" %}
{% trans "Due to the large number of customers, there may be pressure on the machines and your order is delayed. Your order was received within the system and entered the queue. And associate with the machine according to the game you selected. If 10 minutes have passed and you have not received your card, please contact the service center and you will answer as soon as possible." %}
{% trans "Can I purchase several different tickets together? That is, to purchase both a BlackGack card and a casino card in the same order?" %}
{% trans "This issue is under development in the coming days the development will be completed and given the opportunity." %}
{% trans "I won NIS 2,000 and the amount does not appear in the balance, why?" %}
{% trans "Any winnings over NIS 500 are sent for review and verification Shortly after the card is verified, the amount will be updated in your account." %}
{% trans "How many tickets can I purchase at one time?" %}
{% trans "Up to 50 tickets can currently be purchased, but this figure may change at the company's discretion." %}
{% trans "Who can buy a ticket?" %}
{% trans "Anyone over the age of 18." %}
{% trans "If I want to ensure that the tickets I purchase will be in running order? That is, their numbers will follow what should I do?" %}
{% trans "You must purchase the amount of tickets you want at one time. Because at the time of giving large numbers of customers come in together it is not possible to guarantee a wanted series or a consecutive ticket unless the quantity of tickets was purchased in the same order." %}
------
