{% load static %}
<!-- jquery -->
{#<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>#}
{#<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>#}
{#<script src="{% static 'main/004/js/jquery.js' %}"></script>#}
<script src="{% static 'main/004/js/jquery-3.6.0.min.js' %}"></script>

{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>#}

<!-- tranzila -->
{#<script>document.write('<script src="https://direct.tranzila.com/js/tranzilanapple_v2.js?v=' + Date.now() + '"><\/script>');</script>#}
{#<script>var $n = jQuery.noConflict(true);</script>#}
