{% load static %}
{% load i18n %}
<!-- modal -->
<div data-modal-id="js-ui-game-123-modal" class="game-modal js-game-modal">
    <div class="game-modal__overlay"></div>
    <div class="game-modal__box">
        <div class="game-modal__header">
            <div class="ui-game-btn-reset-wrap">
                <button type="button" class="ui-game-btn-reset js-game-modal-close">
                    <i class="fa fa-times"></i>
                </button>
                <span class="ui-game-btn-reset-text">some text</span>
            </div>
            <div class="ui-game-btn-ok-wrap">
                <span class="ui-game-btn-ok-text">some text</span>
                <button type="button" class="ui-game-btn-ok js-game-modal-close">
                    <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
        <div class="game-modal__body">
            <form>
                <div class="ui-game-balls-options-wrap">
                    <div class="ui-game-balls-options-row">
                        <label class="ui-game-ball-input-label">
                            <input type="radio" name="ui-game-ball-option" class="ui-game-ball-input" value="1" />
                            <span class="ui-game-ball-input-label-display ui-game-ball-input-label-display_md">1</span>
                        </label>
                        <label class="ui-game-ball-input-label">
                            <input type="checkbox" name="ui-game-ball-option" class="ui-game-ball-input" value="2" />
                            <span class="ui-game-ball-input-label-display ui-game-ball-input-label-display_md">2</span>
                        </label>
                        <label class="ui-game-ball-input-label">
                            <input type="radio" name="ui-game-ball-option" class="ui-game-ball-input" value="3" />
                            <span class="ui-game-ball-input-label-display ui-game-ball-input-label-display_md">3</span>
                        </label>
                        <label class="ui-game-ball-input-label">
                            <input type="radio" name="ui-game-ball-option" class="ui-game-ball-input" value="4" />
                            <span class="ui-game-ball-input-label-display ui-game-ball-input-label-display_md">4</span>
                        </label>
                        <label class="ui-game-ball-input-label">
                            <input type="radio" name="ui-game-ball-option" class="ui-game-ball-input" value="5" />
                            <span class="ui-game-ball-input-label-display ui-game-ball-input-label-display_md">5</span>
                        </label>

                    </div>

                    <div class="ui-game-balls-options-row">
                        <label class="ui-game-ball-input-label">
                            <input type="radio" name="ui-game-ball-option" class="ui-game-ball-input" value="6" />
                            <span class="ui-game-ball-input-label-display ui-game-ball-input-label-display_md">6</span>
                        </label>
                        <label class="ui-game-ball-input-label">
                            <input type="radio" name="ui-game-ball-option" class="ui-game-ball-input" value="7" />
                            <span class="ui-game-ball-input-label-display ui-game-ball-input-label-display_md">7</span>
                        </label>
                        <label class="ui-game-ball-input-label">
                            <input type="radio" name="ui-game-ball-option" class="ui-game-ball-input" value="8" />
                            <span class="ui-game-ball-input-label-display ui-game-ball-input-label-display_md">8</span>
                        </label>
                        <label class="ui-game-ball-input-label">
                            <input type="radio" name="ui-game-ball-option" class="ui-game-ball-input" value="9" />
                            <span class="ui-game-ball-input-label-display ui-game-ball-input-label-display_md">9</span>
                        </label>
                        <label class="ui-game-ball-input-label">
                            <input type="radio" name="ui-game-ball-option" class="ui-game-ball-input" value="0" />
                            <span class="ui-game-ball-input-label-display ui-game-ball-input-label-display_md">0</span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>