<input type="hidden" id="game_version" value="{{ game_version }}"/>
<input type="hidden" id="game_type" value="{{ game_type }}"/>
<input type="hidden" id="games_count" value="1"/>
<input type="hidden" id="total_sum" value="5"/>
<input type="hidden" id="is_extra" value="{% if ticket_info.extra %}{{ ticket_info.extra }}{% else %}0{% endif %}"/>
<input type="hidden" id="is_double" value="{% if ticket_info.double %}{{ ticket_info.double }}{% else %}0{% endif %}"/>
<input type="hidden" id="form_type"
       value="{% if ticket_info.form_type %}{{ ticket_info.form_type }}{% else %}{% if game_version == 'lotto_systematic' %}8{% else %}4{% endif %}{% endif %}"/>
<input type="hidden" class="js_line_hidden_input" id="nums_line" value="{{ ticket_info.nums_line }}"/>
<input type="hidden" class="js_strong_hidden_input" id="nums_strong" value="{{ ticket_info.strong }}"/>

<input type="hidden" id="subscription" value="0"/>
<input type="hidden" id="subscription_day" value=""/>
<input type="hidden" id="subscription_automatic" value="0"/>
