<input type="hidden" id="game_version" value="{{ game_version }}"/>
<input type="hidden" id="game_type" value="{{ game_type }}"/>
<input type="hidden" id="games_count" value="1"/>
<input type="hidden" id="total_sum" value="5"/>
<input type="hidden" id="is_extra" value="{% if ticket_info.extra %}{{ ticket_info.extra }}{% else %}0{% endif %}"/>
<input type="hidden" id="is_double" value="{% if ticket_info.double %}{{ ticket_info.double }}{% else %}0{% endif %}"/>
<!--Regular-->
<input type="hidden" class="js_regular_line_hidden_input" id="nums_regular_line_1" value="{{ ticket_info.regular_line_1 }}"/>
<input type="hidden" class="js_regular_line_hidden_input" id="nums_regular_line_2" value="{{ ticket_info.regular_line_2 }}"/>
<input type="hidden" class="js_regular_line_hidden_input" id="nums_regular_line_3" value="{{ ticket_info.regular_line_3 }}"/>
<input type="hidden" class="js_regular_line_hidden_input" id="nums_regular_line_4" value="{{ ticket_info.regular_line_4 }}"/>
<input type="hidden" class="js_regular_line_hidden_input" id="nums_regular_line_5" value="{{ ticket_info.regular_line_5 }}"/>
<input type="hidden" class="js_regular_line_hidden_input" id="nums_regular_line_6" value="{{ ticket_info.regular_line_6 }}"/>
<input type="hidden" class="js_regular_line_hidden_input" id="nums_regular_line_7" value="{{ ticket_info.regular_line_7 }}"/>
<input type="hidden" class="js_regular_line_hidden_input" id="nums_regular_line_8" value="{{ ticket_info.regular_line_8 }}"/>
<input type="hidden" class="js_regular_line_hidden_input" id="nums_regular_line_9" value="{{ ticket_info.regular_line_9 }}"/>
<input type="hidden" class="js_regular_line_hidden_input" id="nums_regular_line_10" value="{{ ticket_info.regular_line_10 }}"/>
<input type="hidden" class="js_regular_line_hidden_input" id="nums_regular_line_11" value="{{ ticket_info.regular_line_11 }}"/>
<input type="hidden" class="js_regular_line_hidden_input" id="nums_regular_line_12" value="{{ ticket_info.regular_line_12 }}"/>
<input type="hidden" class="js_regular_line_hidden_input" id="nums_regular_line_13" value="{{ ticket_info.regular_line_13 }}"/>
<input type="hidden" class="js_regular_line_hidden_input" id="nums_regular_line_14" value="{{ ticket_info.regular_line_14 }}"/>

<input type="hidden" class="js_regular_strong_hidden_input" id="nums_regular_strong_1" value="{{ ticket_info.regular_strong_1 }}"/>
<input type="hidden" class="js_regular_strong_hidden_input" id="nums_regular_strong_2" value="{{ ticket_info.regular_strong_2 }}"/>
<input type="hidden" class="js_regular_strong_hidden_input" id="nums_regular_strong_3" value="{{ ticket_info.regular_strong_3 }}"/>
<input type="hidden" class="js_regular_strong_hidden_input" id="nums_regular_strong_4" value="{{ ticket_info.regular_strong_4 }}"/>
<input type="hidden" class="js_regular_strong_hidden_input" id="nums_regular_strong_5" value="{{ ticket_info.regular_strong_5 }}"/>
<input type="hidden" class="js_regular_strong_hidden_input" id="nums_regular_strong_6" value="{{ ticket_info.regular_strong_6 }}"/>
<input type="hidden" class="js_regular_strong_hidden_input" id="nums_regular_strong_7" value="{{ ticket_info.regular_strong_7 }}"/>
<input type="hidden" class="js_regular_strong_hidden_input" id="nums_regular_strong_8" value="{{ ticket_info.regular_strong_8 }}"/>
<input type="hidden" class="js_regular_strong_hidden_input" id="nums_regular_strong_9" value="{{ ticket_info.regular_strong_9 }}"/>
<input type="hidden" class="js_regular_strong_hidden_input" id="nums_regular_strong_10" value="{{ ticket_info.regular_strong_10 }}"/>
<input type="hidden" class="js_regular_strong_hidden_input" id="nums_regular_strong_11" value="{{ ticket_info.regular_strong_11 }}"/>
<input type="hidden" class="js_regular_strong_hidden_input" id="nums_regular_strong_12" value="{{ ticket_info.regular_strong_12 }}"/>
<input type="hidden" class="js_regular_strong_hidden_input" id="nums_regular_strong_13" value="{{ ticket_info.regular_strong_13 }}"/>
<input type="hidden" class="js_regular_strong_hidden_input" id="nums_regular_strong_14" value="{{ ticket_info.regular_strong_14 }}"/>

<!--Double regular-->
<input type="hidden" class="js_double_line_hidden_input" id="nums_double_line_1" value="{{ ticket_info.double_line_1 }}"/>
<input type="hidden" class="js_double_line_hidden_input" id="nums_double_line_2" value="{{ ticket_info.double_line_2 }}"/>
<input type="hidden" class="js_double_line_hidden_input" id="nums_double_line_3" value="{{ ticket_info.double_line_3 }}"/>
<input type="hidden" class="js_double_line_hidden_input" id="nums_double_line_4" value="{{ ticket_info.double_line_4 }}"/>
<input type="hidden" class="js_double_line_hidden_input" id="nums_double_line_5" value="{{ ticket_info.double_line_5 }}"/>
<input type="hidden" class="js_double_line_hidden_input" id="nums_double_line_6" value="{{ ticket_info.double_line_6 }}"/>
<input type="hidden" class="js_double_line_hidden_input" id="nums_double_line_7" value="{{ ticket_info.double_line_7 }}"/>
<input type="hidden" class="js_double_line_hidden_input" id="nums_double_line_8" value="{{ ticket_info.double_line_8 }}"/>
<input type="hidden" class="js_double_line_hidden_input" id="nums_double_line_9" value="{{ ticket_info.double_line_9 }}"/>
<input type="hidden" class="js_double_line_hidden_input" id="nums_double_line_10" value="{{ ticket_info.double_line_10 }}"/>


<input type="hidden" class="js_double_strong_hidden_input" id="nums_double_strong_1" value="{{ ticket_info.double_strong_1 }}"/>
<input type="hidden" class="js_double_strong_hidden_input" id="nums_double_strong_2" value="{{ ticket_info.double_strong_2 }}"/>
<input type="hidden" class="js_double_strong_hidden_input" id="nums_double_strong_3" value="{{ ticket_info.double_strong_3 }}"/>
<input type="hidden" class="js_double_strong_hidden_input" id="nums_double_strong_4" value="{{ ticket_info.double_strong_4 }}"/>
<input type="hidden" class="js_double_strong_hidden_input" id="nums_double_strong_5" value="{{ ticket_info.double_strong_5 }}"/>
<input type="hidden" class="js_double_strong_hidden_input" id="nums_double_strong_6" value="{{ ticket_info.double_strong_6 }}"/>
<input type="hidden" class="js_double_strong_hidden_input" id="nums_double_strong_7" value="{{ ticket_info.double_strong_7 }}"/>
<input type="hidden" class="js_double_strong_hidden_input" id="nums_double_strong_8" value="{{ ticket_info.double_strong_8 }}"/>
<input type="hidden" class="js_double_strong_hidden_input" id="nums_double_strong_9" value="{{ ticket_info.double_strong_9 }}"/>
<input type="hidden" class="js_double_strong_hidden_input" id="nums_double_strong_10" value="{{ ticket_info.double_strong_10 }}"/>

<input type="hidden" id="subscription" value="0"/>
<input type="hidden" id="subscription_day" value=""/>
<input type="hidden" id="subscription_automatic" value="0"/>