{% load static %}
{% load i18n %}
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title text-secondary">{% trans 'Check Ticket' %} {{ item_ticket.req_id }}, {% trans 'Status' %}
            = {{ item_ticket.status }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% csrf_token %}
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-primary">
                            {% trans 'Ticket' %} {{ item_ticket.req_id }}
                        </h3>
                        <br>
                        <h3 class="card-title text-primary">{% trans 'User' %} = {{ games_id.id }},
                            {{ item_ticket.games_id.user_id.profile.name }},
                            {{ item_ticket.games_id.user_id.profile.mobile }},
                            {{ item_ticket.games_id.user_id.email }}
                        </h3>
                        <h3 class="card-title text-info">{% trans 'Balanse before' %}
                            = {{ item_ticket.balance_01 }}
                            {% trans 'Cost' %} = {{ item_ticket.cost_2 }}
                            {% trans 'Balance after' %} = {{ item_ticket.balance_02 }}</h3>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h5 class="card-title m-0 text-secondary">{% trans 'Ticket photo' %}</h5>
                                    </div>
                                    <div class="col-sm-12" id="ticket_cabala_photo">
                                        {% if item_ticket.img_06 %}
                                        <img class="img-fluid"
                                             src="{{ m_current_site }}/{{ item_ticket.img_06 }}" alt="Photo">
                                        {% else %}
                                        {% trans 'No photo' %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="card-header col-sm-6">
                                <label>TICKET NUMBER</label>
                                <input id="id_f_answ_nom" name="f_answ_nom" class="form-control"
                                       value="{{ item_ticket.answ_nom }}">
                            </div>
                            <div class="card-header col-sm-6">
                                <label>WIN SUM</label>
                                <input id="id_f_answ_win_sum" name="f_answ_win_sum" class="form-control"
                                       value="{{ item_ticket.answ_win_sum }}">
                            </div>
                            <div class="card-header col-sm-6">
                                <label>STATUS</label>
                                 <div class="form-group">
                                     <select class="form-control"
                                             id="id_status"
                                             name="f_status">
                                         {% for status in statuses %}
                                         <option  {% if status.verbal == item_ticket.games_id.t_status.verbal %} selected="selected" {% endif %}
                                                  value="{{ status.verbal }}">{{status.caption }}</option>
                                         {% endfor %}
                                     </select>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="card-header col-sm-6">
                                <label>CABALA DATE</label>
                                <div class="input-group date" id="reservationdatetime" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input"
                                           data-target="#reservationdatetime"
                                           id="id_t_cabala_dt"
                                           value="{{  item_ticket.t_cabala_dt|date:'d.m.Y H:i' }}">
                                    <div class="input-group-append" data-target="#reservationdatetime" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="m-3">
                         <div id="succesfully_change_cabala_date"></div>
                     </div>
                      <button type="button"
                                class="btn btn-dark"
                                onclick="btn_change_one_field('change_cabala_date')"
                        >{% trans 'Change cabala date' %}</button>
                 </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="card-header col-sm-6">
                                <label>CABALA PHOTO</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="File_01" name="f_file_01">
                                        <label class="custom-file-label" for="File_01">
                                            {% if item_ticket.img_06 %}{{ item_ticket.img_06 }}{% else %}{% trans 'Choose file' %}{% endif %}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="m-3">
                         <div id="succesfully_upload_cabala_photo"></div>
                     </div>
                      <button type="button"
                                class="btn btn-dark"
                                onclick="btn_change_one_field('change_cabala_photo')"
                        >{% trans 'Change cabala photo' %}</button>
                 </div>
                {% if item_ticket.game_type.verbal == 'lotto_systematic' and item_ticket.answ_tabl.lotto_ticket_info.form_type == 5 %}
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="card-header col-sm-2">
                                <label>6th number</label>
                                <input type="text" id="6th_number" class="form-control"
                                       value="{{ item_ticket.answ_tabl.lotto_ticket_info.6th_number }}">
                            </div>
                        </div>
                    </div>
                         <button type="button"
                                class="btn btn-dark"
                                onclick="btn_change_one_field('change_6th')"
                        >{% trans 'Change 6th number' %}</button>
                    </div>
                {% endif %}
                {% if item_ticket.game_type.t_type.verbal == 'lotto' and item_ticket.answ_tabl.lotto_ticket_info.extra %}
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="card-header col-sm-2">
                                <label>Extra 1</label>
                                <input type="text" id="extra_1" class="form-control"
                                       value="{{ item_ticket.answ_tabl.lotto_ticket_info.extra_list.0 }}">
                            </div>
                            <div class="card-header col-sm-2">
                                <label>Extra 2</label>
                                <input type="text" id="extra_2" class="form-control"
                                       value="{{ item_ticket.answ_tabl.lotto_ticket_info.extra_list.1 }}">
                            </div>
                            <div class="card-header col-sm-2">
                                <label>Extra 3</label>
                                <input type="text" id="extra_3" class="form-control"
                                       value="{{ item_ticket.answ_tabl.lotto_ticket_info.extra_list.2 }}">
                            </div>
                            <div class="card-header col-sm-2">
                                <label>Extra 4</label>
                                <input type="text" id="extra_4" class="form-control"
                                       value="{{ item_ticket.answ_tabl.lotto_ticket_info.extra_list.3 }}">
                            </div>
                            <div class="card-header col-sm-2">
                                <label>Extra 5</label>
                                <input type="text" id="extra_5" class="form-control"
                                       value="{{ item_ticket.answ_tabl.lotto_ticket_info.extra_list.4 }}">
                            </div>
                            <div class="card-header col-sm-2">
                                <label>Extra 6</label>
                                <input type="text" id="extra_6" class="form-control"
                                       value="{{ item_ticket.answ_tabl.lotto_ticket_info.extra_list.5 }}">
                            </div>
                        </div>
                    </div>
                         <button type="button"
                                class="btn btn-dark"
                                onclick="btn_change_one_field('change_extra')"
                        >{% trans 'Change extra and send email to user' %}</button>
                    </div>
                {% endif %}
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="card-body table-responsive p-0  col-sm-12">
                                {% if template_result_name %}
                                    {% include template_result_name %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-between">
         <button type="button"
                class="btn btn-dark"
                data-dismiss="modal"
                onclick="btn_ticketcheck_conf_02('change_game_status')"
        >{% trans 'Change status' %}</button>
        <button type="button"
                class="btn btn-dark"
                data-dismiss="modal"
                onclick="btn_ticketcheck_conf_02('0101')"
        >{% trans 'Confirm' %}</button>
        <button type="button"
                class="btn btn-dark"
                data-dismiss="modal"
                onclick="btn_ticketcheck_conf_02('02')"
        >{% trans 'Error' %}</button>
        <button type="button"
                class="btn btn-dark"
                data-dismiss="modal"
        >{% trans 'Close' %}</button>
    </div>
</div>
<script type="text/javascript">
     $('#reservationdatetime').datetimepicker(
        { icons: { time: 'far fa-clock' },format: 'DD.MM.YYYY HH:mm'});
     $('.custom-file-input').on('change', function (event) {
            $(this).next('.custom-file-label').html(event.target.files[0].name);
        });
     function btn_change_one_field(field) {
         const user_6th_number = $('.six_number'),
               user_extras_block = $('.userExtraList'),
               succesfully_change_cabala_date = $('#succesfully_change_cabala_date'),
               succesfully_upload_cabala_photo = $('#ticket_cabala_photo'),
               ticket_id = "{{ item_ticket.id }}";
         let formData = new FormData();
         let csrftoken = $('input[name=csrfmiddlewaretoken]').val();
         formData.append('csrfmiddlewaretoken', csrftoken);
         formData.append('f_id', ticket_id);
         formData.append('f_param', field);
         if (field === 'change_6th') {
              formData.append('f_6th_number', $('#6th_number').val());
         } else if (field === 'change_cabala_date') {
              formData.append('f_cabala_dt', $('#id_t_cabala_dt').val());
         } else if (field === 'change_extra') {
             formData.append('extra_1', $('#extra_1').val());
             formData.append('extra_2', $('#extra_2').val());
             formData.append('extra_3', $('#extra_3').val());
             formData.append('extra_4', $('#extra_4').val());
             formData.append('extra_5', $('#extra_5').val());
             formData.append('extra_6', $('#extra_6').val());
         } else if (field === 'change_cabala_photo') {
             if ($("#File_01").length){
                formData.append('photo1',  $("#File_01")[0].files[0]);
            }
         }
         $.ajax({
             type: "POST",
             async: false,
             processData: false,
             contentType: false,
             data: formData,
             url: "/cabb_ticketcheck_conf/",
            success: function (res) {
                if (res.AnswerCod == '01') {
                    if (field === 'change_6th') {
                        user_6th_number.html(res.AnswerText);
                    } else if (field === 'change_extra') {
                        user_extras_block.html(res.AnswerText);
                    } else if (field === 'change_cabala_date') {
                        succesfully_change_cabala_date.html(res.AnswerText);
                    } else if (field === 'change_cabala_photo'){
                        succesfully_upload_cabala_photo.html(
                            `<img class="img-fluid"
                                  src="{{ m_current_site }}/${res.AnswerText}" alt="Photo">`
                        )
                    } else {
                        location.reload();
                    }

                } else {
                    Swal.fire({
                        icon: 'error',
                        title: gettext('ERROR'),
                        background: '#cacaca',
                        html: res.AnswerText,
                        confirmButtonText: gettext('Back to form'),
                        confirmButtonColor: '#dd3333',
                    });
                    return false;
                }
            },
            error: function () {
                Swal.fire({
                    icon: 'error',
                    title: gettext('ERROR'),
                    background: '#cacaca',
                    html: gettext("An error occurred during user verification, please try again later."),
                    confirmButtonText: gettext('Back to form'),
                    confirmButtonColor: '#d33',
                });
                return false;
            }
        });
     }

    function btn_ticketcheck_conf_02(l_param) {
        m_answ_nom = $("#id_f_answ_nom").val();
        m_answ_win_sum = $("#id_f_answ_win_sum").val();
        m_status = $("#id_status").val();
        $.ajax({
            type: "POST",
            data: {
                f_id: "{{ item_ticket.id }}",
                f_param: l_param,
                f_answ_nom: m_answ_nom,
                f_answ_win_sum: m_answ_win_sum,
                f_status: m_status,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            url: "/cabb_ticketcheck_conf/",
            success: function (res) {
                if (res.AnswerCod == '01') {
                    location.reload();
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: gettext('ERROR'),
                        background: '#cacaca',
                        html: res.AnswerText,
                        confirmButtonText: gettext('Back to form'),
                        confirmButtonColor: '#dd3333',
                    });
                    return false;
                }
            },
            error: function () {
                Swal.fire({
                    icon: 'error',
                    title: gettext('ERROR'),
                    background: '#cacaca',
                    html: gettext("An error occurred during user verification, please try again later."),
                    confirmButtonText: gettext('Back to form'),
                    confirmButtonColor: '#d33',
                });
                return false;
            }
        });
    }
</script>
