{% load static %}
{% load i18n %}
<section class="cabb-page">
    <div class="container_cabb">
        <div class="justify-content-center">
            {#            <div class="col-lg-12">#}
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title m-0">{% trans 'New Cash Payment' %}</h5>
                </div>
                <div class="card-body">
                    <div class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12 table-cabb">
                                <table id="id_table_tic" class="table table-bordered table-striped ">
                                    <thead>
                                    <tr class="js_tic_row">
                                        <th></th>
                                        <th>{% trans 'N' %}</th>
                                        <th>{% trans 'User name' %}</th>
                                        <th>{% trans 'User email' %}</th>
                                        <th>{% trans 'User phone' %}</th>
                                        <th>{% trans 'Date req' %}</th>
                                        <th>{% trans 'City' %}</th>
                                        <th>{% trans 'Street' %}</th>
                                        <th>{% trans 'Building' %}</th>
                                        <th>{% trans 'Amount' %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ItemCash in list_cashadd %}
                                        <tr class="js_tic_row ">
                                            <td>
                                                <button type="button"
                                                        class="btn btn-success mybtn_cabb1 btn-sm"
                                                        onclick="btn_cabbcash_actiom(
                                                                '{{ ItemCash.id }}', '01'
                                                                )"
                                                ><i class="icon far fa-check-circle"></i>
                                                </button>
                                                <button type="button"
                                                        class="btn btn-danger mybtn_cabb1 btn-sm"
                                                        onclick="btn_cabbcash_actiom(
                                                                '{{ ItemCash.id }}', '02'
                                                                )"
                                                ><i class="icon fas fa-ban"></i>
                                                </button>
                                            </td>
                                            <td>{{ ItemCash.id }}</td>
                                            <td>{{ ItemCash.user_id.profile.name }}</td>
                                            <td>{{ ItemCash.user_id.email }}</td>
                                            <td>{{ ItemCash.user_id.profile.mobile }}</td>
                                            <td>{{ ItemCash.created|date:"d.m.Y H:i:s" }}</td>
                                            <td>{{ ItemCash.city }}</td>
                                            <td>{{ ItemCash.street }}</td>
                                            <td>{{ ItemCash.building }}</td>
                                            <td>{{ ItemCash.amount }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th></th>
                                        <th>{% trans 'N' %}</th>
                                        <th>{% trans 'User name' %}</th>
                                        <th>{% trans 'User email' %}</th>
                                        <th>{% trans 'User phone' %}</th>
                                        <th>{% trans 'Date req' %}</th>
                                        <th>{% trans 'City' %}</th>
                                        <th>{% trans 'Street' %}</th>
                                        <th>{% trans 'Building' %}</th>
                                        <th>{% trans 'Amount' %}</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing
                                    1
                                    to 10 of 57
                                    entries
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="example1_previous">
                                            <a
                                                    href="#"
                                                    aria-controls="example1"
                                                    data-dt-idx="0"
                                                    tabindex="0"
                                                    class="page-link">Previous</a>
                                        </li>
                                        <li class="paginate_button page-item active"><a href="#"
                                                                                        aria-controls="example1"
                                                                                        data-dt-idx="1"
                                                                                        tabindex="0"
                                                                                        class="page-link">1</a>
                                        </li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="example1"
                                                                                  data-dt-idx="2"
                                                                                  tabindex="0"
                                                                                  class="page-link">2</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="example1"
                                                                                  data-dt-idx="3"
                                                                                  tabindex="0"
                                                                                  class="page-link">3</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="example1"
                                                                                  data-dt-idx="4"
                                                                                  tabindex="0"
                                                                                  class="page-link">4</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="example1"
                                                                                  data-dt-idx="5"
                                                                                  tabindex="0"
                                                                                  class="page-link">5</a></li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="example1"
                                                                                  data-dt-idx="6"
                                                                                  tabindex="0"
                                                                                  class="page-link">6</a></li>
                                        <li class="paginate_button page-item next" id="example1_next"><a href="#"
                                                                                                         aria-controls="example1"
                                                                                                         data-dt-idx="7"
                                                                                                         tabindex="0"
                                                                                                         class="page-link">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</section>

{##}
{#{% with url='/moderator-p05' items=feedback %}#}
{#% with url='/tenders-my' items=feedback %#}
{#    {% include 'common/_pagination.html' %}#}
{#{% endwith %}#}
