{% load static %}

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta property="og:url" content="{{ l_domain }}"/>
<meta property="og:image" content="{% static 'img/logo-og.png' %}"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="{{ PAGE_TITLE }}"/>
<meta property="og:description" content="{{ PAGE_DESCRIPTION }}"/>

<!--<link rel="shortcut icon" href="{% static 'main/002/images/favicon.ico' %}" type="image/x-icon">-->

<!--<link rel="stylesheet" href="{% static 'vendor/sweetalert2/dist/sweetalert2.min.css' %}">-->

<!-- ADMIN LTE -->
<!-- Google Font: Source Sans Pro -->
<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">-->
<!--<link rel="stylesheet" href="{% static 'lte/dist/css/adminlte.min.css' %}">-->
<!-- Font Awesome -->
<link rel="stylesheet" href="{% static 'lte/plugins/fontawesome-free/css/all.min.css' %}">
<!-- Daterange picker -->
<!--<link rel="stylesheet" href="{% static 'lte/plugins/daterangepicker/daterangepicker.css' %}">-->
<!-- iCheck for checkboxes and radio inputs -->
<!--<link rel="stylesheet" href="{% static 'lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">-->
<!-- Bootstrap Color Picker -->
<!--<link rel="stylesheet" href="{% static 'lte/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}">-->
<!-- Bootstrap4 Duallistbox -->
<!--<link rel="stylesheet" href="{% static 'lte/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">-->
<!-- Ionicons -->
<!--<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">-->
<!-- Tempusdominus Bootstrap 4 -->
<!--<link rel="stylesheet"-->
<!--      href="{% static 'lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">-->
<!-- iCheck -->
<!--<link rel="stylesheet" href="{% static 'lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">-->
<!-- JQVMap -->
<!--<link rel="stylesheet" href="{% static 'lte/plugins/jqvmap/jqvmap.min.css' %}">-->
<!-- Theme style -->
<link rel="stylesheet" href="{% static 'lte/dist/css/adminlte.min.css' %}">
<!-- overlayScrollbars -->
<!--<link rel="stylesheet" href="{% static 'lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">-->
<!-- summernote -->
<!--<link rel="stylesheet" href="{% static 'lte/plugins/summernote/summernote-bs4.min.css' %}">-->
<!-- Select2 -->
<!--<link rel="stylesheet" href="{% static 'lte/plugins/select2/css/select2.min.css' %}">-->
<!--<link rel="stylesheet" href="{% static 'lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">-->

<!--&lt;!&ndash; stylesheet &ndash;&gt;-->
<link rel="stylesheet" href="{% static 'main/004/css/style.css' %}">
<!--&lt;!&ndash; responsive &ndash;&gt;-->
<!--<link rel="stylesheet" href="{% static 'main/004/css/responsive.css' %}">-->
