{% load static %}
{% load i18n %}
<input id="id_ticket_active" type="hidden" value=""/>
<input id="id_item_game" type="hidden" value="{{ item_game_user.id }}"/>
<section class="cab-history main-bg full-height-without-footer">
    <div class="container cab-history-box">
        <div class="section-heading cab-history-title">
            <h5 class="subtitle">{{ page_caption }}</h5>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card cab-history-table">
                    <div class="card-body table-responsive p-0 ui-table_tickets">
                        <table class="table table-head-fixed text-nowrap">
                            <tbody>
                            {% for ItemGame in game_history_list %}
                                {% ifchanged ItemGame.games_id_id %}
                                    <tr id="id_ticket_{{ ItemGame.id }}"
                                        class="{{ ItemTicket.class }} ui-btn_ticket_info table-active">
                                        {% if ItemGame.games_id.game_type.verbal == 'game_lotto' %}
                                            <td>
                                                <a href="/cab-lotto-item/{{ ItemGame.games_id_id }}"
                                                   target="_blank"
                                                   class="btn btn-info btn-sm">{% trans 'Show' %}</a>
                                            </td>
                                        {% elif ItemGame.games_id.game_type.verbal == 'game_lotto_gift' %}
                                            {% if ItemGame.games_id.user_recipient == me %}
                                                <td>
                                                    <a href="/cab-lotto-item/{{ ItemGame.games_id_id }}"
                                                       target="_blank"
                                                       class="btn btn-info btn-sm">{% trans 'Show' %}</a>
                                                </td>
                                            {% endif %}
                                            <td class="text-info">
                                                {% trans 'Gift' %}
                                            </td>
                                        {% else %}
                                        <td>
                                            <a href="/cab-lotto-item/{{ ItemGame.games_id_id }}"
                                               target="_blank"
                                               class="btn btn-info btn-sm">{% trans 'Show' %}</a>
                                        </td>
                                        {% endif %}
                                        <td>
                                            {% trans 'Game' %} #{{ ItemGame.games_id_id }}
                                            ({% trans 'tickets' %} {{ ItemGame.games_id.ticket_num }})
                                        </td>
                                        <td colspan="7"></td>
                                    </tr>
                                    <tr>
                                        <th>{% trans 'Game' %}</th>
                                        <th>{% trans 'Date' %}</th>
                                        <th>{% trans 'Pay' %}</th>
                                        <th>{% trans 'Win' %}</th>
                                        <th>{% trans 'Bal. before' %}</th>
                                        <th>{% trans 'Cost' %}</th>
                                        <th>{% trans 'Win sum' %}</th>
                                        <th>{% trans 'Bal. after' %}</th>
                                    </tr>
                                {% endifchanged %}
                                {% if ItemGame.games_id.game_type.verbal == 'game_lotto' %}
                                    <tr class="{% if ItemGame.status == '33' %}
                                                 {% if ItemGame.answ_win %} table-success {% endif %}
                                               {% else %} table-warning {% endif %}">
                                        <td>
                                            ({{ ItemGame.id }}) {{ ItemGame.game_type.caption }}
                                            {% if ItemGame.status == "33" %}
                                            {% else %}
                                            {% if ItemGame.games_id.t_status.verbal == 'lotto_scanned' %}
                                                <br>{% trans 'Adopted' %}
                                            {% elif ItemGame.games_id.t_status.verbal != 'lotto_scanned' and ItemGame.status != "33"%}
                                                <br>{% trans 'Pending' %}
                                            {% endif %}
                                            {% endif %}
                                        </td>
                                        <td>{% if ItemGame.answ_dt %}{{ ItemGame.answ_dt|date:"d.m.Y H:i:s" }}{% endif %}</td>
                                        <td>{{ ItemGame.games_id.t_payment.caption }}</td>
                                        <td>
                                            {% if ItemGame.status == "33" %}
                                                {% if ItemGame.answ_win %}<i class="icon far fa-check-circle text-green"></i>
                                                {% else %}<i class="icon fas fa-ban text-red"></i>{% endif %}
                                            {% endif %}
                                        </td>
                                        <td>{{ ItemGame.balance_01 }}</td>
                                        <td>{{ ItemGame.cost_2 }}</td>
                                        <td>
                                            {% if ItemGame.status == "33" %}
                                                {% if ItemGame.answ_win_sum %}{{ ItemGame.answ_win_sum }}{% else %}0{% endif %}
                                                {% else %}{% trans 'not known' %}
                                            {% endif %}
                                        </td>
                                        <td>{{ ItemGame.balance_02 }}</td>
                                    </tr>
                                {% elif ItemGame.games_id.game_type.verbal == 'game_lotto_gift' %}
                                    {% if ItemGame.games_id.user_id != ItemGame.games_id.user_recipient %}
                                        <tr class="{% if ItemGame.games_id.user_recipient == me %}
                                                    {% if ItemGame.status == '33' %}
                                                        {% if ItemGame.answ_win %} table-success {% endif %}
                                                    {% else %}
                                                        table-warning
                                                    {% endif %}>
                                                    {% endif %}">
                                            <td>
                                                ({{ ItemGame.id }}) {{ ItemGame.game_type.caption }}
                                                {% if ItemGame.status == "33" %} {% else %}<br>{% trans 'not play' %}{% endif %}
                                            </td>
                                            <td>{% if ItemGame.answ_dt %}{{ ItemGame.answ_dt|date:"d.m.Y H:i:s" }}{% endif %}</td>
                                            <td>{{ ItemGame.answ_nom }}</td>
                                            <td>
                                                {% if ItemGame.games_id.user_recipient == me %}
                                                {% else %}
                                                    {{ ItemGame.games_id.t_payment.caption }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if ItemGame.games_id.user_recipient == me %}
                                                    {% if ItemGame.status == "33" %}
                                                        {% if ItemGame.answ_win %}
                                                            <i class="icon far fa-check-circle text-green"></i>
                                                        {% else %}
                                                            <i class="icon fas fa-ban text-red"></i>
                                                        {% endif %}
                                                    {% endif %}
                                                {% else %}
                                                    {% trans 'not known' %}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if ItemGame.games_id.user_recipient == me %}
                                                    {{ ItemGame.recipient_balance_01 }}
                                                {% else %}
                                                    {{ ItemGame.balance_01 }}
                                                {% endif %}
                                            </td>
                                            <td>{{ ItemGame.cost_2 }}</td>
                                            <td>{% if ItemGame.games_id.user_recipient == me %}
                                                {% if ItemGame.status == "33" %}
                                                    {% if ItemGame.answ_win_sum %}{{ ItemGame.answ_win_sum }}{% else %}0{% endif %}
                                                {% else %}
                                                    {% trans 'not known' %}
                                                {% endif %}
                                            {% else %}
                                                {% trans 'not known' %}
                                            {% endif %}
                                            </td>
                                            <td>
                                                {% if ItemGame.games_id.user_recipient == me %}
                                                    {{ ItemGame.recipient_balance_02 }}
                                                {% else %}
                                                    {{ ItemGame.balance_02 }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr class="{% if ItemGame.status == '33' %}
                                                 {% if ItemGame.answ_win %} table-success {% endif %}
                                               {% else %} table-warning {% endif %}">
                                            <td>
                                                ({{ ItemGame.id }}) {{ ItemGame.game_type.caption }}
                                                {% if ItemGame.status == "33" %} {% else %}<br>{% trans 'not play' %}{% endif %}
                                            </td>
                                            <td>{% if ItemGame.answ_dt %}{{ ItemGame.answ_dt|date:"d.m.Y H:i:s" }}{% endif %}</td>
                                            <td>{{ ItemGame.answ_nom }}</td>
                                            <td>{{ ItemGame.games_id.t_payment.caption }}</td>
                                            <td>
                                                {% if ItemGame.status == "33" %}
                                                    {% if ItemGame.answ_win %}<i class="icon far fa-check-circle text-green"></i>
                                                    {% else %}<i class="icon fas fa-ban text-red"></i>{% endif %}
                                                {% endif %}
                                            </td>
                                            <td>{{ ItemGame.balance_01 }}</td>
                                            <td>{{ ItemGame.cost_2 }}</td>
                                            <td>
                                                {% if ItemGame.status == "33" %}
                                                    {% if ItemGame.answ_win_sum %}{{ ItemGame.answ_win_sum }}{% else %}0{% endif %}
                                                    {% else %}{% trans 'not known' %}
                                                {% endif %}
                                            </td>
                                            <td>{{ ItemGame.balance_02 }}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% empty %}
                            {% trans 'Sorry, the list is empty.' %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
