{% load static %}
{% load i18n %}
<section data-game-theme-color="#FF7524" data-game-theme-color-rgb="255, 117, 36" class="js-game-theme-color game-item main-bg full-height-without-footer">
<!--    <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--            <div class="col-lg-12">-->
                <div class="ui-game ui-game__mob-no-p">
                    {% include tmpl_card_header %}
                    {% include tmpl_timer %}
                    <div class="ui-game-links">
                        <div class="ui-game-links-inner">
                            <a class="ui-game-links__game ui-game-links__game-1" href="{% url 'cab_game_lotto' 'game123_regular' %}">{% trans '123' %}</a>
                            <div class="ui-game-links__manin">
                                <span class="ui-game-links__manin-inner-border"></span>
                                {% trans '123' %}
                            </div>
                        </div>
                    </div>
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</section>