{% load static %}
{% load i18n %}
<section data-game-theme-color="#FC459A" data-game-theme-color-rgb="252, 69, 154" class="js-game-theme-color game-item main-bg full-height-without-footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="ui-game">
                    {% include tmpl_hidden_inputs %}
                    {% include tmpl_card_header %}
                    {% include tmpl_timer %}
                    <div class="ui-game-box">
                        <div>
                            <div class="ui-game-info-header">
                                <span class="ui-game-info-header__text">{{ form_type_text_header }}</span>
                                <span class="ui-game-info-header__number">1</span>
                            </div>
                            <div class="ui-game-card-count">
                                <label class="ui-game-circle-input-label">
                                    <input type="radio" disabled checked name="ui-game-lines-count" class="ui-game-circle-input ui-game-circle-input-form-type" value="1" />
                                    <span class="ui-game-circle-input-label-display ui-game-circle-input-label-display__no-bg" style="cursor: default;">1</span>
                                </label>
                                <label class="ui-game-circle-input-label">
                                    <input type="radio" disabled name="ui-game-lines-count"
                                           class="ui-game-circle-input ui-game-circle-input-form-type" value="2"/>
                                    <span class="ui-game-circle-input-label-display ui-game-circle-input-label-display__no-bg" style="cursor: default;">2</span>
                                </label>
                                <label class="ui-game-circle-input-label">
                                    <input type="radio" disabled name="ui-game-lines-count" class="ui-game-circle-input ui-game-circle-input-form-type" value="3" />
                                    <span class="ui-game-circle-input-label-display ui-game-circle-input-label-display__no-bg" style="cursor: default;">3</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="ui-game-box">
                        <div class="ui-game-single">
                            <div class="ui-game-info-header">
                                <span class="ui-game-info-header__text">{% trans 'Choose your numbers in line 1' %}</span>
                                <span class="ui-game-info-header__number">2</span>
                            </div>
                            <div class="ui-game-single__actions">
                                <div class="ui-game-btn-reset-wrap">
                                    <button data-line=1 type="button" class="ui-game-btn-reset js-game-reset">
                                        <i class="fa fa-times"></i>
                                    </button>
                                    <span class="ui-game-btn-reset-text"></span>
                                </div>
                                <button data-line=1 type="button" class="ui-game-btn-sm js-game-auto">
                                    {% trans 'Select automatically' %}
                                </button>
                            </div>
                            <div class="ui-game-balls-wrap">
                                <div data-line-num=1 class="ui-game-balls-wrap-row js-ui-game-balls-wrap-row">
                                    <div data-line=1 class="ui-game-ball js-ui-game-777-modal-open"></div>
                                    <div data-line=1 class="ui-game-ball js-ui-game-777-modal-open"></div>
                                    <div data-line=1 class="ui-game-ball js-ui-game-777-modal-open"></div>
                                    <div data-line=1 class="ui-game-ball js-ui-game-777-modal-open"></div>
                                    <div data-line=1 class="ui-game-ball js-ui-game-777-modal-open"></div>
                                    <div data-line=1 class="ui-game-ball js-ui-game-777-modal-open"></div>
                                    <div data-line=1 class="ui-game-ball js-ui-game-777-modal-open"></div>
<!--                                    <div data-line=1 class="ui-game-ball ui-game-ball_number">1</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-game-box">
                        <div class="ui-game-single">
                            <div class="ui-game-info-header">
                                <span class="ui-game-info-header__text">{% trans 'Choose your numbers in line 2' %}</span>
                                <span class="ui-game-info-header__number">2</span>
                            </div>
                            <div class="ui-game-single__actions">
                                <div class="ui-game-btn-reset-wrap">
                                    <button data-line=2 type="button" class="ui-game-btn-reset js-game-reset">
                                        <i class="fa fa-times"></i>
                                    </button>
                                    <span class="ui-game-btn-reset-text"></span>
                                </div>
                                <button data-line=2 type="button" class="ui-game-btn-sm js-game-auto">
                                    {% trans 'Select automatically' %}
                                </button>
                            </div>
                            <div class="ui-game-balls-wrap">

                                <div data-line-num=2 class="ui-game-balls-wrap-row js-ui-game-balls-wrap-row">
                                    <div data-line=2 class="ui-game-ball js-ui-game-777-modal-open"></div>
                                    <div data-line=2 class="ui-game-ball js-ui-game-777-modal-open"></div>
                                    <div data-line=2 class="ui-game-ball js-ui-game-777-modal-open"></div>
                                    <div data-line=2 class="ui-game-ball js-ui-game-777-modal-open"></div>
                                    <div data-line=2 class="ui-game-ball js-ui-game-777-modal-open"></div>
                                    <div data-line=2 class="ui-game-ball js-ui-game-777-modal-open"></div>
                                    <div data-line=2 class="ui-game-ball js-ui-game-777-modal-open"></div>
<!--                                    <div data-line=2 class="ui-game-ball ui-game-ball_number">2</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-game-box">
                        <div class="ui-game-single">
                            <div class="ui-game-info-header">
                                <span class="ui-game-info-header__text">{% trans 'Choose your numbers in line 3' %}</span>
                                <span class="ui-game-info-header__number">2</span>
                            </div>
                            <div class="ui-game-single__actions">
                                <div class="ui-game-btn-reset-wrap">
                                    <button data-line=3 type="button" class="ui-game-btn-reset js-game-reset">
                                        <i class="fa fa-times"></i>
                                    </button>
                                    <span class="ui-game-btn-reset-text"></span>
                                </div>
                                <button data-line=3 type="button" class="ui-game-btn-sm js-game-auto">
                                    {% trans 'Select automatically' %}
                                </button>
                            </div>
                            <div class="ui-game-balls-wrap">
                                <div data-line-num=3 class="ui-game-balls-wrap-row js-ui-game-balls-wrap-row">
                                    <div data-line=3 class="ui-game-ball js-ui-game-777-modal-open"></div>
                                    <div data-line=3 class="ui-game-ball js-ui-game-777-modal-open"></div>
                                    <div data-line=3 class="ui-game-ball js-ui-game-777-modal-open"></div>
                                    <div data-line=3 class="ui-game-ball js-ui-game-777-modal-open"></div>
                                    <div data-line=3 class="ui-game-ball js-ui-game-777-modal-open"></div>
                                    <div data-line=3 class="ui-game-ball js-ui-game-777-modal-open"></div>
                                    <div data-line=3 class="ui-game-ball js-ui-game-777-modal-open"></div>
<!--                                    <div data-line=3 class="ui-game-ball ui-game-ball_number">3</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include tmpl_subscription %}
                    {% include tmpl_total_sum %}
                    {% include tmpl_box_payment %}
                </div>
            </div>
        </div>
    </div>
</section>
{% include tmpl_game_modal %}