{% load static %}
{% load i18n %}
{% load el_t01_tags %}
<!-- lottery video Area Start -->

<section data-game-theme-color="#60DBA5" data-game-theme-color-rgb="96, 219, 165" class="js-game-theme-color game-item main-bg full-height-without-footer">
<!--    <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--            <div class="col-lg-12">-->
                <div class="ui-game">

                    <h2 class="ui-game__title">
                        <span class="ui-game__title-text">5000.000 $</span>
                    </h2>

                    <div class="ui-game-timer js-ui-game-timer" data-timer-sec="172801">

                        <!--                        <span class="ui-game-timer__dots ui-game-timer__dots_1">:</span>-->
                        <!--                        <span class="ui-game-timer__dots ui-game-timer__dots_2">:</span>-->
                        <!--                        <span class="ui-game-timer__dots ui-game-timer__dots_3">:</span>-->

                        <div class="ui-game-timer__item">
                            <span class="ui-game-timer__item-number js-game-timer-days"></span>
                            <span class="ui-game-timer__item-name">{% trans 'days' %}</span>
                        </div>
                        <div class="ui-game-timer__item">
                            <span class="ui-game-timer__item-number js-game-timer-hours"></span>
                            <span class="ui-game-timer__item-name">{% trans 'hours' %}</span>
                        </div>
                        <div class="ui-game-timer__item">
                            <span class="ui-game-timer__item-number js-game-timer-min"></span>
                            <span class="ui-game-timer__item-name">{% trans 'min' %}</span>
                        </div>
                        <div class="ui-game-timer__item">
                            <span class="ui-game-timer__item-number js-game-timer-sec">sec</span>
                            <span class="ui-game-timer__item-name">{% trans 'sec' %}</span>
                        </div>
                    </div>

                    <div class="ui-game-links">
                        <div class="ui-game-links-inner">
                            <a class="ui-game-links__game ui-game-links__game-1" href="{% url 'cab_game_lotto' 'chance_multi' %}">{% trans 'Multi Chance' %}</a>
                            <a class="ui-game-links__game ui-game-links__game-2" href="{% url 'cab_game_lotto' 'chance_regular' %}">{% trans 'Chance' %}</a>
                            <a class="ui-game-links__game ui-game-links__game-3" href="{% url 'cab_game_lotto' 'chance_systematic' %}">{% trans 'Systematic Chance' %}</a>
                            <div class="ui-game-links__manin">
                                <span class="ui-game-links__manin-inner-border"></span>
                                {% trans 'Chance' %}
                            </div>
                        </div>
                    </div>
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</section>

