{% load static %}
<!DOCTYPE html>
<html>
{#<html {% if lang == "he" %}dir="rtl"{% endif %} >#}
<html dir="rtl" >
<head>
    <title>{{ PAGE_TITLE }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:url" content="{{ l_domain }}"/>
    <meta property="og:image" content="{% static 'img/logo-og.png' %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ PAGE_TITLE }}"/>
    <meta property="og:description" content="{{ PAGE_DESCRIPTION }}"/>
    {% block extra_head %} {% endblock %}
    <link rel="icon" href="{% static 'img/favicon.ico' %}"/>
    <link rel="apple-touch-icon" sizes="256x256" href="{% static "img/apple-touch-icon.png" %}">
    {% include l_include_head %}
    {% include l_include_head_us %}
</head>
{# <body class="hold-transition sidebar-mini layout-fixed">  #}
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
{% csrf_token %}

{% if False %}
<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>
{% endif %}

{% if False %}
<!-- preloader -->
<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            <div class="text-bold pt-2">Loading...</div>
        </div>
    </div>
</div>
{% endif %}


{% if False %}
<div class="overlay-wrapper">
    <div class="overlay">
        <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        <div class="text-bold pt-2">Loading...</div>
    </div>
</div>
{% endif %}


{% if l_include_loading %}
    {% include l_include_loading %}
{% endif %}

{% block layoutbody %}
{% endblock %}
{% include l_include_footer %}
{% include l_include_script %}
{% include l_include_script_us %}
{% if l_modal_cab %}
    {% for item_modal in l_modal_cab %}
        {% include item_modal %}
    {% endfor %}
{% endif %}
{% if l_modal_auth %}
    {% include 'auth/_modal_auth.html' %}
    {% include 'auth/_modal_reg.html' %}
    {% include 'auth/_modal_recovery.html' %}
{% endif %}

<!-- Page script -->
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd.mm.yyyy', { 'placeholder': 'dd.mm.yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm.dd.yyyy', { 'placeholder': 'mm.dd.yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservationdate').datetimepicker({
        format: 'L'
    });
    //Date range picker
    $('#reservation').daterangepicker({
      locale: {
        format: 'DD.MM.YYYY'
      }
    });
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'MM/DD/YYYY hh:mm A'
      }
    });
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT'
    })

    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox()

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    $('.my-colorpicker2').on('colorpickerChange', function(event) {
      $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
    });

    $("input[data-bootstrap-switch]").each(function(){
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    });

  })
</script>

</body>
</html>
