{% load static %}
<!-- MAIN CSS -->
{#<link rel="stylesheet" href="{% static 'css/style.css' %}">#}
{#<!-- sweetalert2 -->#}
{#<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/sweetalert2.css' %}">#}
{#<link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.min.css' %}">#}
{#<!-- SweetAlert2 -->#}
{#<link rel="stylesheet" href="{% static 'lte/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">#}
{#<!-- Toastr -->#}
{#<link rel="stylesheet" type="text/css" href="{% static 'lte/plugins/toastr/toastr.min.css' %}">#}

{#{% if menu_calendar_open %}#}
{#  <!-- Ionicons -->#}
{#  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">#}
{#  <!-- fullCalendar -->#}
{#  <link rel="stylesheet" href="../plugins/fullcalendar/main.min.css">#}
{#  <link rel="stylesheet" href="../plugins/fullcalendar-daygrid/main.min.css">#}
{#  <link rel="stylesheet" href="../plugins/fullcalendar-timegrid/main.min.css">#}
{#  <link rel="stylesheet" href="../plugins/fullcalendar-bootstrap/main.min.css">#}
{#  <!-- Theme style -->#}
{#  <link rel="stylesheet" href="../dist/css/adminlte.min.css">#}
{#  <!-- Google Font: Source Sans Pro -->#}
{#  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">#}
{#{% endif %}#}