{% load static %}

<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
<script src="{% static 'js/us_js.js' %}"></script>
<!-- sweetalert2 -->
<script src="{% static 'js/vendor/sweetalert2.js' %}"></script>
<!-- Toastr -->
<script src="{% static 'lte/plugins/toastr/toastr.min.js' %}"></script>
<!-- SweetAlert2 -->
<script src="{% static 'lte/plugins/sweetalert2/sweetalert2.min.js' %}"></script>


{##}
{#{% if menu_calendar_open %}#}
{#<!-- jQuery -->#}
{#<script src="../plugins/jquery/jquery.min.js"></script>#}
{#<!-- jQuery UI -->#}
{#<script src="../plugins/jquery-ui/jquery-ui.min.js"></script>#}
{#<!-- AdminLTE App -->#}
{#<script src="../dist/js/adminlte.min.js"></script>#}
{#<!-- AdminLTE for demo purposes -->#}
{#<script src="../dist/js/demo.js"></script>#}
{#<!-- fullCalendar 2.2.5 -->#}
{#<script src="../plugins/moment/moment.min.js"></script>#}
{#<script src="../plugins/fullcalendar/main.min.js"></script>#}
{#<script src="../plugins/fullcalendar-daygrid/main.min.js"></script>#}
{#<script src="../plugins/fullcalendar-timegrid/main.min.js"></script>#}
{#<script src="../plugins/fullcalendar-interaction/main.min.js"></script>#}
{#<script src="../plugins/fullcalendar-bootstrap/main.min.js"></script>#}
{#{% endif %}#}
