---t_Type_balanceoperation ---
{% trans "Win" %}
{% trans "Pay from balans" %}
{% trans "Pay from card" %}
{% trans "Cut money" %}
{% trans "Pay Tranzila" %}
{% trans "Credit Card" %}
{% trans "Bit" %}
{% trans "Pay Out" %}
{% trans "Add Money" %}
---t_Type_balanceoperation_status---
{% trans "wait" %}
{% trans "block" %}
{% trans "Reject" %}
{% trans "Succes" %}
---t_Type_payment---
{% trans "Credit Card" %}
{% trans "Balance" %}
{% trans "Debit Card" %}
{% trans "Paypal" %}
{% trans "Bitcoin" %}
{% trans "Pay Box" %}
{% trans "Litecoin" %}
{% trans "From Bank" %}
{% trans "Bit" %}
---t_Type_currency---
{% trans "USD" %}
{% trans "Dollar" %}
{% trans "ILS" %}
{% trans "Israeli shekel" %}
---t_Type_program---
---t_SiteLang---
{% trans "Hebrew" %}
{% trans "he" %}
{% trans "English" %}
{% trans "en" %}
{% trans "Russian" %}
{% trans "ru" %}
{% trans "Ukrainian" %}
{% trans "ua" %}
{% trans "Arabic" %}
{% trans "ar" %}
---t_Ticket_type---
{% trans "As King" %}
{% trans "Borsa" %}
{% trans "The first prize in this game is 1: 1,000,000<br>The second prize in this game are 1: 6,666<br>Any prizes in this game are 1: 4.04" %}
{% trans "Scratch the covering from the 4 rows of 'stock types'. Each line where the 'sale price' is higher than the 'purchase price' qualifies for a 'prize' - a cash prize or free ticket - as detailed below:<br>If the 'option' is indicated in the 'prize' column, you won 10 shekels. Each card can be won up to four times." %}
{% trans "Basketball" %}
{% trans "The first prize in this game is 1: 1,000,000<br>The second prize in this game is 1: 20,000<br>Any prizes in this game are 1: 3.68" %}
{% trans "If in any game your team score is higher than the score of the opposing team, you have won the prize listed in the prize line." %}
{% trans "BlackjacK 21" %}
{% trans "The first prize in this game is 1: 1,000,000<br>The second prize in this game is 1: 200,000<br>Any prizes in this game are 1: 4.19" %}
{% trans "Each card has 5 games.<br>Reveal your house cards and your cards. Compare each pair of cards to a pair of house cards.<br>The sum of your two cards exceeds the sum of the two house cards? You won the prize printed under that game.<br><br>The cards are marked with one of the following values:<br>Cards 2 to 10 value in points as the number of the card.<br>Prince value in points = 10<br>Queen set in points = 10<br>King value in points = 10<br>Ace value in points = 11" %}
{% trans "As=prass" %}
{% trans "The first prize in this game is 1: 500,000<br>The second prize in this game is 1: 333,333.33<br>Any prizes in this game are 1: 3.16" %}
{% trans "Scrape the coating over each of the 20 'inverted card' illustrations on the card (each such illustration is a game in itself).<br>If after the scratch it is discovered, in one of the 'inverted cards' you scratched, the 'Ace card' symbol - you have won the prize listed in that game.<br>You can win up to 20 times in one ticket" %}
{% trans "Casino" %}
{% trans "The first prize in this game is 1: 1,000,000<br>The second prize in this game are 1: 33,333.33<br>Any prizes in this game are 1: 3.46" %}
{% trans "Scrape the coating over the 'roulette wheel' and reveal the 'winning number' marked by the 'ball' next to it.<br>Scrape the coating over the number and prize board, chip by chip and reveal the number listed below.<br>If the number listed at the top of any chip is the same as the 'winner number' of the 'roulette wheel', you have won the prize listed in that chip below the 'winner number'.<br>You can win up to 5 times in one ticket!" %}
---t_Devices_list---
---t_Documentation_list---
---t_List_external_company---
---t_List_jellyfish---
{% trans "jellyfish_prod" %}
{% trans "jellyfish_test_console" %}
---t_Report_list---
---t_SiteSkin---
{% trans "001" %}
------
