{% load static %}
{% load l10n %}
{% load i18n %}
<!-- Recent Winners Area Start -->
<section class="footer-pages main-bg full-height-without-footer">
    <div class="container ui-box_message">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section-heading">
                    <h2 class="title">
                        {{ box_message_title }}
                    </h2>
                    <h5 class="subtitle">
                        {{ box_message_subtitle }}
                    </h5>
                    <p class="text">
                        {{ box_message_text }}
                    </p>
                </div>
            </div>
            <div class="col-lg-8 col-md-10">
                <div class="section-heading">
                    <form id="id_form_contact" action="{% url 'cabs_nosmsconfirm' verbal %}" method="post">
                        {% csrf_token %}
                        <button type="submit"
                                name="btn"
                                value="notstop"
                                onclick=""
                                class="mybtn5">{% trans 'Not Remove' %}</button>
                        <button type="submit"
                                name="btn"
                                value="stop"
                                onclick=""
                                class="mybtn1">{% trans 'Remove' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Recent Winners Area End -->