{% load static %}
{% load l10n %}
{% load i18n %}
<!-- Recent Winners Area Start -->
<section class="footer-pages">
    <div class="container ui-box_message">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section-heading">
                    <h2 class="title">
                        {% trans 'Feedback' %}
                    </h2>
                    <h5 class="subtitle">
                        {% trans 'Your appeal has been accepted and will be processed as soon as possible.' %}
                    </h5>
                    {#                    <p class="text">#}
                    {#                        {% trans 'Terms Of Use' %}#}
                    {#                    </p>#}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Recent Winners Area End -->