{% load static %}
{% load l10n %}
{% load i18n %}

<!-- Recent Winners Area Start -->
<section class="footer-pages">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section-heading">
                    <h5 class="subtitle">
                        {% trans 'Risk Warnings' %}
                    </h5>
                    <h2 class="title">
                        {% trans 'Risk Warnings' %}
                    </h2>
                    <p class="text">
                        {% trans 'Risk Warnings' %}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% trans 'Risk Warnings' %}
            </div>
            <div class="col-12">
                {% trans 'Risk Warnings' %}
            </div>
            <div class="col-12">
                {% trans 'Risk Warnings' %}
            </div>
            <div class="col-12">
                {% trans 'Risk Warnings' %}
            </div>
            <div class="col-12">
                {% trans 'Risk Warnings' %}
            </div>
        </div>
    </div>
</section>
<!-- Recent Winners Area End -->
