{% load static %}
{% load l10n %}
{% load i18n %}
<div class="header-padding">
    <div class="hero-area">
        <div class="container">
            <div class="hero-area__inner">
                <h1 class="hero-area__title">{% trans 'Scratch HISHGAD On Mobile' %}</h1>
                {% if not user.is_authenticated %}
                <div class="links hide-on-mob">
                    <a href="#" class="mybtn1"
                       data-toggle="modal"
                       data-target="#signin">{% trans 'REGISTER NOW' %}</a>
                </div>
                {% endif %}
                <img class="hero-area__img" src="{% static 'main/007/images/hero-area__img.png' %}" alt="">
            </div>
        </div>
    </div>
    <!-- start content -->
    <div class="main-box inner-mob-shadow">
        <div class="container">
            <div class="main-box__inner">
                {% if not user.is_authenticated %}
                <div class="text-center hide-on-desktop register-btn-wrap">
                    <a href="#" class="mybtn1 "
                       data-toggle="modal"
                       data-target="#signin">{% trans 'Register Now' %}</a>
                </div>
                {% endif %}
                <h4 class="main-box__title">
                    {% trans 'About Us' %}
                </h4>

                <ul class="breadcrumb-list">
                    <li class="breadcrumb-list__item">
                        {% trans 'Home' %}
                    </li>
                    <li class="breadcrumb-list__item">
                        <span class="breadcrumb-list__icon-wrap">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                    </li>
                    <li class="breadcrumb-list__item">
                        {% trans 'About Us' %}
                    </li>
                </ul>

                <div class="main-text-right-rtf">
                    <div class="main-text">
                        <p>
                            {% trans 'Welcome to the service of the HISHLINE company. The company was founded in 2021, with purpose of providing an online service to those interested in participating in the HISHGAD lottery (scratch tickets) and winning prizes. ' %}
                        </p>
                        <p>
                            {% trans 'HISHLINE is a private technology company, and not related to the lottery operator Mifal Ha-Pais. On HISHLINE website you can find a variety of HISHGAD scratch tickets, which we will scratch for you. Now you can win without leaving home.' %}
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end content -->
</div>
