{% load static %}
{% load l10n %}
{% load i18n %}

<!-- Recent Winners Area Start -->
<section class="footer-pages">
    <div class="container ui-box_message">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section-heading">
                    <h2 class="title">
                        {% trans 'Bank Transfer' %}
                    </h2>
                    <h5 class="subtitle">
                        {% trans 'An error occured, please try again later.' %}
                    </h5>
{#                    <p class="text">#}
{#                        {% trans 'Terms Of Use' %}#}
{#                    </p>#}
                </div>
            </div>
        </div>
{#        <div class="row">#}
{#            <div class="col-12">#}
{#                #}
{#                {% trans 'Terms Of Use' %}#}
{#            </div>#}
{#        </div>#}
    </div>
</section>
<!-- Recent Winners Area End -->
