{% load static %}
{% load l10n %}
{% load i18n %}
{#{% if section_language_dropdown %}#}
<!-- Language Dropdown Menu -->

{#    <div class="d-none">#}
{#        <form action="{% url 'set_language' %}" id="lang_form" method="POST">#}
{#            {% csrf_token %}#}
{#            <input name="next" type="hidden" value="">#}
{#            <input name="language" type="hidden" value="">#}
{#            <input type="submit">#}
{#        </form>#}
{#    </div>#}

<li>
        <select name="language" class="language">
            <option value="1">                                                        <a href="#">
                                                            <i class="fas fa-bell"></i>{% trans 'Invest Exchange' %}
                                                        </a>
 English</option>
            <option value="2">France</option>
            <option value="3">Japan</option>
        </select>
{#                                        <div class="language-selector">#}
{#                                            <i class="fas fa-bell"></i>#}
{#                                            <span class="count">11</span>#}
{#                                            <div class="tm-dropdown-menu">#}
{#                                                <ul class="list">#}
{#                                                    <li>#}
{#                                                        <a href="#">#}
{#                                                            <i class="fas fa-bell"></i>{% trans 'Invest Exchange' %}#}
{#                                                        </a>#}
{#                                                    </li>#}
{#                                                    <li>#}
{#                                                        <a href="#">#}
{#                                                            <i class="fas fa-bell"></i>{% trans 'Invest Exchange' %}#}
{#                                                        </a>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}

{#            <ul class="dropdown arrow-top">#}
{#                {% for Item_lang in site_lang %}#}
{#                    <li><a class="{% if lang == Item_lang.lang_code %}active{% endif %}"#}
{#                           onclick="change_lang('{{ Item_lang.lang_code }}')">#}
{#                        <img class="flag-icon" src="{% static 'img/flags/4x3/' %}{{ Item_lang.lang_code }}.svg">#}
{#                        {{ Item_lang.lang_name }} - {% trans Item_lang.lang_name %}#}
{#                    </a></li>#}
{#                {% endfor %}#}
{#            </ul>#}

</li>

{#<div class="left-content">#}
{#</div>#}
    {#    <li class="language-selector">#}
    {#        <ul class="dropdown arrow-top">#}
    {#            {% for Item_lang in site_lang %}#}
    {#                <li><a class="{% if lang == Item_lang.lang_code %}active{% endif %}"#}
    {#                       onclick="change_lang('{{ Item_lang.lang_code }}')">#}
    {#                    <img class="flag-icon" src="{% static 'img/flags/4x3/' %}{{ Item_lang.lang_code }}.svg">#}
    {#                    {{ Item_lang.lang_name }} - {% trans Item_lang.lang_name %}#}
    {#                </a></li>#}
    {#            {% endfor %}#}
    {#        </ul>#}
    {#    </li>#}
    {#{% endif %}#}
