{% load i18n %}
<div tabindex="-1" role="dialog" class="modal ui__modal js-modal__forgot-pass fade">
    <div class="modal-dialog text-center">
        <div class="modal-content">
            <div class="modal-body text-left clearfix">
                <div class="login-box">
                    <div class="login-logo">
                    </div>
                    <!-- /.login-logo -->

                    <div class="card">
                        <div class="card-body register-card-body">
                            <p class="login-box-msg">Register a new membership</p>

                            <form action="../../index.html" method="post">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Full name">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="email" class="form-control" placeholder="Email">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-envelope"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control" placeholder="Password">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control" placeholder="Retype password">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <div class="icheck-primary">
                                            <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                            <label for="agreeTerms">
                                                I agree to the <a href="#">terms</a>
                                            </label>
                                        </div>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-4">
                                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                                    </div>
                                    <!-- /.col -->
                                </div>
                            </form>

                            <div class="social-auth-links text-center">
                                <p>- OR -</p>
                                <a href="#" class="btn btn-block btn-primary">
                                    <i class="fab fa-facebook mr-2"></i>
                                    Sign up using Facebook
                                </a>
                                <a href="#" class="btn btn-block btn-danger">
                                    <i class="fab fa-google-plus mr-2"></i>
                                    Sign up using Google+
                                </a>
                            </div>

                            <a href="login.html" class="text-center">I already have a membership</a>
                        </div>
                        <!-- /.form-box -->
                    </div><!-- /.card -->


                    <div class="card">
                        <div class="card-body login-card-body">
                            <div class="login-box-msg">
                                <div class="ui__modal-caption"><b>{% trans 'Новый пользователь' %}</b></div>
                                <div data-dismiss="modal" aria-label="Close" class="ui__modal-caption ui__modal-close">
                                    <span class="fas fa-times"></span>
                                </div>
                            </div>
                            <form action="{% url 'login' %}" method="post">
                                {% csrf_token %}
                                {% if True %}
                                    <div class="alert alert-danger recovery_fail" role="alert">
                                        {#  { }#}
                                    </div>
                                {% endif %}
                                <div class="input-group mb-3">
                                    <input name="email" type="email" class="form-control" placeholder="Email">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-envelope"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input name="password" type="password" class="form-control" placeholder="Password">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <div class="icheck-primary">
                                            <input name="remember_me" type="checkbox" id="remember">
                                            <label for="remember">
                                                {% trans 'Не выходить из системы' %}
                                            </label>
                                        </div>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-4">
                                        <a href="#"
                                           class="btn btn-primary btn-block"
                                           onclick="modal_btn_login()"
                                        >
                                            {% trans 'Войти' %}
                                        </a>
                                    </div>
                                    <!-- /.col -->
                                </div>
                            </form>
                            <p class="mb-1">
                                <a href="#"
                                   class="text-center text-blue"
                                   onclick="modal_get_forgot_pass()"
                                >
                                    {% trans 'Я забыл свой пароль' %}
                                </a>
                            </p>
                            <p class="mb-0">
                                <a href="#"
                                   class="text-center text-blue"
                                   onclick="modal_reg_new_user()"
                                >
                                    {% trans 'Зарегистрировать нового пользователя' %}
                                </a>
                            </p>
                        </div>
                        <!-- /.login-card-body -->
                    </div>
                </div>
                <!-- /.login-box -->
            </div>
        </div>
    </div>
</div>
