{% load static %}
{% load l10n %}
{% load i18n %}
<!-- Recent Winners Area Start -->
<section class="auth-pages">
    <div class="container">
        <div class="row justify-content-center">
            <div class="login-box">
                <div class="card card-outline card-primary">
                    <div class="card-header text-center">
                        <a href="##" class="h1"><b>{% trans 'WinWin' %}</b></a>
                    </div>
                    <div class="card-body">
                        <p class="login-box-msg">
                            {% trans 'You are only one step a way from your new password, recover your password now.' %}
                        </p>
                        <form id="id_form_set_pass" action="{% url 'set_password' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="hash" value="{{ hash }}"/>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control"
                                       id="id_set_password1"
                                       name="fl_set_password1" placeholder="{% trans 'Password' %}">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control"
                                       name="fl_set_password2" placeholder="{% trans 'Confirm Password' %}">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-12">
                                <button
                                        onclick="btn_set_pass()"
                                        class="btn btn-primary btn-block">{% trans 'Change password' %}
                                </button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </div>
                    <!-- /.login-card-body -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Recent Winners Area End -->
