{% load static %}
{% load i18n %}
<div class="tab_text_4 tab_text_color_3">
    <p class="prizes-number"><strong>The winning basket:</strong></p>
    <table class="table table-bordered">
        <tbody>
        <tr class="">
            <td>&#8226;</td>
            <td>elite coffee</td>
            <td>1</td>
        </tr>
        <tr class="">
            <td>&#8226;</td>
            <td>elite coffee</td>
            <td>1</td>
        </tr>
        <tr class="">
            <td>&#8226;</td>
            <td>elite coffee</td>
            <td>1</td>
        </tr>
        <tr class="">
            <td>&#8226;</td>
            <td>plastic cups</td>
            <td>1</td>
        </tr>
        <tr class="">
            <td>&#8226;</td>
            <td>plastic cups</td>
            <td>1</td>
        </tr>
        <tr class="">
            <td>&#8226;</td>
            <td>Tnuva milk</td>
            <td>1</td>
        </tr>
        <tr class="">
            <td>&#8226;</td>
            <td>Tnuva milk</td>
            <td>1</td>
        </tr>
        <tr class="">
            <td>&#8226;</td>
            <td>free shipping</td>
            <td>1</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="tab_text_4">
    <button class="btn_2 mybtn1-register-btn"
            onclick="nextPage('btn_to_mail')">
        {% trans 'Continued' %}
    </button>
</div>
