
    <!-- Carousel -->
    <section id="mainCarouselWrapper">
        <div id="mainCarousel" class="t-white carousel-eq owl-carousel owl-theme">

            <div class="carousel-item">

                <div class="img-holder1"></div>

                <div class="carousel-content center">
                    <div class="text-wrap text-ani1">
                        <div class="text">
                            <h2>Look Up, Get Up <br> But Never Give Up</h2>
                            <p>Demand respect or expect defeat</p>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <a href="" class="btn btn-link-o" onclick="nextPage('btn_to_registr')">
                            <span>Start</span>
                        </a>
                    </div>
                </div>

            </div> <!-- End carousel-item -->

            <div class="carousel-item">

                <div class="img-holder2"></div>

                <div class="carousel-content center">
                    <div class="text-wrap text-ani2">
                        <div class="text">
                            <h2>Hustle and Heart <br> Set Us Apart</h2>
                            <p>Championships are made when the stands are empty</p>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <a href="" class="btn btn-link-o" onclick="nextPage('btn_to_registr')">
                            <span>Start</span>
                        </a>
                    </div>
                </div>

            </div> <!-- End carousel-item -->

            <div class="carousel-item">

                <div class="img-holder3"></div>

                <div class="carousel-content center">
                    <div class="text-wrap text-ani3">
                        <div class="text">
                            <h2>Practice Winning <br> Every Day</h2>
                            <p>A team above all. Above all a team</p>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <a href="" class="btn btn-link-o" onclick="nextPage('btn_to_registr')">
                            <span>Start</span>
                        </a>
                    </div>
                </div>

            </div> <!-- End carousel-item -->

        </div> <!-- End mainCarousel -->
    </section> <!-- End CarouselWrapper -->

    <!-- Start Page-Content -->




<div class="hidden"></div>