{% extends "002/mail/mail_layout.html" %}
{% load static %}
{% load i18n %}
{% block caption %}
{% trans 'Ваш пароль был сброшен' %}
{% endblock %}
{% block description %}
<div class="contentHeading marginBottom25"
     style="color: #15b284;font-size: 16px;margin-bottom: 25px;">
    {% trans 'Здравствуйте' %}, {{ profile.name }}!
</div>
<div class="contentHeading marginBottom25" style="color: #15b284;font-size: 16px;margin-bottom: 25px;">
Пароль к Вашей учётной записи был сброшен. Если это были не Вы, измените пароль. Если это были Вы - игнорируйте это сообщение.
</div>

{% endblock %}
{% block mail_url %}{{ mail_url }}{% endblock %}
