{% load static %}
{% load l10n %}
{% load i18n %}
{% load el_t01_tags %}
<!-- Featured Game Area Start -->
{#<section class="notification-list main-bg notification-list_header-p">#}
{#    <!-- Features Area End -->#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-lg-12">#}
{#                <div class="notification-slider">#}
{#                    {% for ItemSlider in dict_notification_system %}#}
{#                        <div class="item">#}
{#                            <div class="notification-single">#}
{#                                <div class="notification-name">{% trans ItemSlider.text|safe %}</div>#}
{#                                <div class="notification-maxwin">{% trans 'max win' %} {#% set_int_separate ItemSlider.max_win %#} {% trans ItemSlider.type_currency.code %}</div>#}
{#                                <div class="notification-cost">{% trans 'cost' %} {{ ItemSlider.cost_2 }} {% trans ItemSlider.type_currency.code %}</div>#}
{#                                <a href="{% url 'cab_game_addnew' ItemSlider.verbal None %}"#}
{#                                   class="mybtn1 mybtn1_hover-animation">{% trans 'PLay NoW' %}</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}
<!-- Featured Game Area	End -->
