{% load static %}
{% load l10n %}
{% load i18n %}

    <!-- Hero Area Start -->
    <div class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 d-flex align-self-center">
                    <div class="left-content">
                        <div class="content">
                            <h5 class="subtitle">New Crypto Game</h5>
                            <h1 class="title">PLay To WIN</h1>
                            <p class="text">
                                Play, Invest,Exchange and Join the
                                Contest with high rewards at Dooplo!
                            </p>
                            <div class="links">
                                <a href="#" class="mybtn1 link1">Get Started Now!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-img2 d-block d-md-none">
                        <img src="{% static 'main/001/images/heroarea.png' %}" alt="">
                    </div>
                    <div class="hero-img d-none d-md-block">
                        <img class="img-fluid full-image" src="{% static 'main/001/images/heroarea.png' %}" alt="">
                        <img class="shape phone" src="{% static 'main/001/images/h-shapes/phone.png' %}" alt="">
                        <img class="shape man" src="{% static 'main/001/images/h-shapes/man222.png' %}" alt="">
                        <img class="shape ripple" src="{% static 'main/001/images/h-shapes/ripple.png' %}" alt="">
                        <img class="shape ripple2" src="{% static 'main/001/images/h-shapes/ripple1.png' %}" alt="">
                        <img class="shape bitcoin1" src="{% static 'main/001/images/h-shapes/bitcoin1.png' %}" alt="">
                        <img class="shape bitcoin2" src="{% static 'main/001/images/h-shapes/bitcoin2.png' %}" alt="">
                        <img class="shape shape-icon" src="{% static 'main/001/images/h-shapes/shape.png' %}" alt="">
                        <img class="shape award-bg" src="{% static 'main/001/images/h-shapes/award/bg.png' %}" alt="">
                        <img class="shape award" src="{% static 'main/001/images/h-shapes/award/award.png' %}" alt="">
                        <img class="shape gift-bg" src="{% static 'main/001/images/h-shapes/giftbox/bg.png' %}" alt="">
                        <img class="shape gift" src="{% static 'main/001/images/h-shapes/giftbox/gift.png' %}" alt="">
                        <img class="shape shield-bg" src="{% static 'main/001/images/h-shapes/shield/bg.png' %}" alt="">
                        <img class="shape shield" src="{% static 'main/001/images/h-shapes/shield/shield.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
