{% load static %}
{% load l10n %}
{% load i18n %}

    <!-- About page section Area Start -->
    <section class="about-page-section get-start">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex align-self-center">
                    <div class="about-video">
                        <img src="{% static 'main/002/images/video_machine.png' %}" alt="">
                        <a href="https://www.youtube.com/watch?v=AnL-l4CR7qQ" class="play-video mfp-iframe">
                            <img src="{% static 'main/002/images/play-icon-red.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h5 class="subtitle">
                            how it works
                        </h5>
                        <h2 class="title">
                            our machines
                        </h2>
                        <p class="text">
                            Dooplo is a unique cryptogames providing pleasant pastime. We offer our members to play
                            Provably Fair games and some bonus games, join contests, achieve various awards.
                        </p>
                        <a href="#" class="mybtn1">Play Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About page section Area End -->

