{% load static %}

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta property="og:url" content="{{ l_domain }}"/>
<meta property="og:image" content="{{ STATIC_PREFIX }}main/{{ GL_MainSkin }}/images/logo-og.png"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="{{ PAGE_TITLE }}"/>
<meta property="og:description" content="{{ PAGE_DESCRIPTION }}"/>

